@font-face{
  font-family: my;
  src:url('../fonts/font1.ttf');
}


body{
	background: linear-gradient(to right,#19cbfb,#2aef56 );
	height: 630px;
	width: auto;
	overflow-y: hidden;
}
#main{
	height: 600px;
	width: 900px;
	background-color: white;
	margin-top: 40px;
	font-family: 'PT Serif', serif;
	box-shadow: 5px 10px #03030366;
	border-radius: 5px;
}
#main h1{
   font-size: 50px;
   background: -webkit-linear-gradient(black,grey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inp{
	padding: 12px;
	border-radius: 5px;
	width: 200px;

}

.inp2{
	padding: 12px;
	border-radius: 5px;
	width: 484px;
	margin-top: 14px;
	margin-left: 1px;


}

.inp3{
	padding: 12px;
	border-radius: 5px;
	width: 200px;

}

.phn{
	margin-left: -58px; 
}

.btn{
	width: 100px;
	padding: 12px;
	font-family: 'PT Serif', serif;
	background:linear-gradient(45deg,  #19cbfb,#2aef56);
	border: none;
	border-radius: 2px;
}
.btn:hover{
	cursor: pointer;
	background:linear-gradient(345deg, #2aef56,#19cbfb);
	animation: anim .4s cubic-bezier(1,1,0,0);
}


@keyframes anim{
	0%{
		width: 100px;
	}
	25%{
		width: 80px;
		filter: blur(2px);
	}
	50%{
		width: 70px;
		padding: 10px;
		filter: blur(4px);
	}
	75%{
		width: 100px;
		filter: blur(2px);
	}
}