<!DOCTYPE html>
<html>
<head>
	<title>Cool </title>
	<link rel="stylesheet" type="text/css" href="css/mycss.css">
	<link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet"> 
</head>
<body>
	<center>
	<div id="main">
		<h1>Student Registration Form</h1>

		<form method="post" onkeyup="return validateText();">
			<label for="name">First Name:  </label><input type="text" name="fname" id="fname" class="inp" required="" placeholder="First Name" required="">
			<label for="lname">Last Name:  </label><input type="text" name="lname" id="lname" class="inp" required="" placeholder="Last Name"><br>
			<label for="email">Email: </label><input type="email" name="email" id="email" class="inp2" required="" placeholder="Enter Your Email"><br><br>
			<label class="phn" for="phone">Phone Number: </label><input type="text" name="phone" id="phone" class="inp3" required="" placeholder="Enter Your Mobile Number">
			<label class="roll" for="roll">Roll No: </label><input type="text" name="roll" id="roll" class="inp3" required="" placeholder="Enter Your Roll Number"><br><br><br>

			<button class="btn" onclick="submit">Submit</button>
		</form>
	</div></center>






<script type="text/javascript" src="js/validate.js">

	

	</script>

</body>
</html>