<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Student Information</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/mycss.css" %}">
  	<link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
  </head>
  <body>
    <center>
    <div id="main">
      <h1>SEARCH</h1>
      <form method="post">
        {% csrf_token %}
        <label for="searchroll">Search by Roll No.</label>
        <input type="text" class="inp" name="searchroll" id="searchroll" placeholder="Roll Number">
        <br> <h2>Or</h2>
        <label for="searchname">Search by Name</label>
        <input type="text" class="inp" name="searchname" id="searchname" placeholder="Enter the Name"><br><br>

        	<button class="btn" onclick="submit">Search</button>

      </form>

      {{s}}

    </div></center>

  </body>
</html>
